<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Pets</title>
</head>
<body>
    <h1>All Pets</h1>
    <ul>
        {% for pet in pets %}
        <li><a href="/{{ pet.id }}">{{ pet.name }}</a></li>
        {% endfor %}
    </ul>
    
    <form action="/" method="POST">
        <input type="text" name="name" placeholder="name">
        <input type="text" name="species" placeholder="species">
        <input type="number" name="hunger" placeholder="hunger">
        <button>SUBMIT NEW PET</button>
    </form>
</body>
</html>