19_Flask/19.1_Flask_Intro/venv/
19_Flask/19.2_Jinja/venv/
19_Flask/19.2_Exercise_flask-madlibs/venv/
19_Flask/19.3_Flask_Tools/venv/
19_Flask/19.3_Exercise_Flask_Survey/venv/
19_Flask/19.4_Flask_Sessions/venv
19_Flask/19.4_Exercise_Session_Survey/venv
19_Flask/19.5_Testing/venv
19_Flask/19.5_Exercise_Boggle/venv
23_SQL_Alchemy/venv
23_SQL_Alchemy/23.1_Intro/venv
23_SQL_Alchemy/23_Exercise/venv
23_SQL_Alchemy/23.2_SQLA_Associations/venv
23_SQL_Alchemy/23.3_SQLA_Many-to-many/venv
24_Intermediate_Flask/24.1_WTForms/venv
24_Intermediate_Flask/24.1_Exercise_Pet_Adoption/venv
24_Intermediate_Flask/24.2_External_API_Requests/venv
24_Intermediate_Flask/24.3_REST_and_JSON_APIs/flask-rest-json-api-demo/TodoAPI/venv
24_Intermediate_Flask/24.3_REST_and_JSON_APIs/24.3_API_bakery_exercise/venv
24_Intermediate_Flask/24.5_Hashing_and_Login/venv
24_Intermediate_Flask/24.5_Hashing_and_Login/VideoCode/venv
24_Intermediate_Flask/24.5_Login_Feedback_Exercise/venv
24_Intermediate_Flask/24.8_Heroku_Deployment/venv
26_Twitter_Clone/venv
31_Node_js/31.4_Node/package.json
31_Node_js/31.4_Node/node-exercise/package.json
31_Node_js/31.4_Node/node-exercise/node_modules
31_Node_js/31.5_Testing_with_Jest/node-jest-testing-demo/package.json
31_Node_js/31.5_Testing_with_Jest/node-markov/node_modules
32_Express.js/32.1_Express_Intro/node_modules
32_Express.js/32.2_Routing_and_Middleware/node_modules
32_Express.js/32.2_Routing_and_Middleware/TestingExpress/
32_Express.js/32.2_Express_Shop_List_API/node_modules
35_Express_Postgres/35.1_Node_pg_intro/pg-intro/node_modules
35_Express_Postgres/35.1_Node_pg_intro/express-biztime/node_modules
35_Express_Postgres/35.2_Node_pg_relationships/express-pg-relationships-demo/VideoCode/node_modules
35_Express_Postgres/35.3_Node_pg_OOP/express-lunchly/node_modules
36_Intermediate_Express/36.1_Hashing_and_JSON_Tokens/VideoCode/node_modules
36_Intermediate_Express/36.1_Hashing_and_JSON_Tokens/express-messagely/node_modules
36_Intermediate_Express/36.2_API_Validation/express-api-validation-demo/node_modules
36_Intermediate_Express/36.2_API_Validation/express-bookstore/node_modules
37_express-jobly/node_modules
39_ReactJS_FUNdamentals/39.1_React_Intro/node_modules
39_ReactJS_FUNdamentals/39.3_Create_React_App/react-cra-demo/videodemo/first-app/node_modules
39_ReactJS_FUNdamentals/39.3_Create_React_App/react-cra-demo/es2015_module_exercise/node_modules
39_ReactJS_FUNdamentals/39.4_Events_and_State/magic8ball-exercise/magic8ball-exercise/node_modules
39_ReactJS_FUNdamentals/39.5_Testing_in_React/test-exercise/node_modules
39_ReactJS_FUNdamentals/39.6_React_State_Patterns/Lesson_demo/simple-counter/node_modules
39_ReactJS_FUNdamentals/39.6_React_State_Patterns/Lesson_demo/colorful-circles/node_modules
39_ReactJS_FUNdamentals/39.7_react_component_design/react-lights-out/node_modules
39_ReactJS_FUNdamentals/39.8_react_forms/videodemo/forms-demo/node_modules
39_ReactJS_FUNdamentals/39.9_React_Effects_and_Refs/refs-app/node_modules
39_ReactJS_FUNdamentals/39.9_React_Effects_and_Refs/github-profile-viewer/node_modules
39_ReactJS_FUNdamentals/39.9_React_Effects_and_Refs/exercise/node_modules
39_ReactJS_FUNdamentals/39.10_Custom_Hooks/custom-hooks/node_modules
39_ReactJS_FUNdamentals/39.10_Custom_Hooks/hooks-starter/node_modules
39_ReactJS_FUNdamentals/39.10_Custom_Hooks/react-cards-pokemon/node_modules
43_Jobly_React/backend/node_modules