/Users/brycebeckenbach/Desktop/Programming_Projects/Springboard/19_Flask/19.1_Flask_Intro/venv
/Users/brycebeckenbach/Desktop/Programming_Projects/Springboard/19_Flask/19.2_Jinja/venv
/Users/brycebeckenbach/Desktop/Programming_Projects/Springboard/19_Flask/19.2_Exercise_flask-madlibs/venv