19_Flask/19.1_Flask_Intro/venv/
19_Flask/19.2_Jinja/venv/
19_Flask/19.2_Exercise_flask-madlibs/venv/
19_Flask/19.3_Flask_Tools/venv/
19_Flask/19.3_Exercise_Flask_Survey/venv/
19_Flask/19.4_Flask_Sessions/venv
19_Flask/19.4_Exercise_Session_Survey/venv
19_Flask/19.5_Testing/venv
19_Flask/19.5_Exercise_Boggle/venv
23_SQL_Alchemy/venv
23_SQL_Alchemy/23.1_Intro/venv
23_SQL_Alchemy/23_Exercise/venv
23_SQL_Alchemy/23.2_SQLA_Associations/venv
23_SQL_Alchemy/23.3_SQLA_Many-to-many/venv
24_Intermediate_Flask/24.1_WTForms/venv
24_Intermediate_Flask/24.1_Exercise_Pet_Adoption/venv
24_Intermediate_Flask/24.2_External_API_Requests/venv
24_Intermediate_Flask/24.3_REST_and_JSON_APIs/flask-rest-json-api-demo/TodoAPI/venv
24_Intermediate_Flask/24.3_REST_and_JSON_APIs/24.3_API_bakery_exercise/venv
