.Clicker-light {
	background-color: lightblue;
}
.Clicker-dark {
	background-color: darkslateblue;
}
.Clicker-dark button {
	background-color: lightblue;
}

.Clicker-light button {
	background-color: darkslateblue;
	color: white;
}
