{% extends 'base.html' %}
{% block title %} Create New Post {% endblock %}
{% block content %}
    <h1>Edit Post</h1>
    <form action="/posts/{{post.id}}/edit" method="POST">
        <div>
            <input type="text" name="title" placeholder="title" value="{{post.title}}">
        </div>
        <div>
            <input type="text" name="content" placeholder="content" value="{{post.content}}">
        </div>
        {% for tag in tags %}
        <div>
            {% if tag in post.tags %}
            <span><input type="checkbox" name="tag_list" value="{{tag.id}}" checked> {{tag.name}}</span>
            {% else %}
            <span><input type="checkbox" name="tag_list" value="{{tag.id}}"> {{tag.name}}</span>
            {% endif %}
        </div>
        {% endfor %}
        <div>
            <button>Edit</button>
        </div>
    </form>
    <a href="/posts/{{post.id}}"><button>Cancel</button></a>
{% endblock %}