appnope==0.1.2
astroid==2.6.2
backcall==0.2.0
blinker==1.4
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
decorator==5.0.9
Flask==2.0.1
Flask-Bcrypt==0.7.1
Flask-DebugToolbar==0.11.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
forex-python==1.6
greenlet==1.1.0
idna==2.10
ipython==7.24.1
ipython-genutils==0.2.0
isort==5.9.1
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.1
lazy-object-proxy==1.6.0
MarkupSafe==2.0.1
matplotlib-inline==0.1.2
mccabe==0.6.1
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.18
psycopg2-binary==2.9.1
ptyprocess==0.7.0
Pygments==2.9.0
pylint==2.9.1
requests==2.25.1
simplejson==3.17.2
SQLAlchemy==1.4.22
toml==0.10.2
traitlets==5.0.5
urllib3==1.26.5
wcwidth==0.2.5
Werkzeug==2.0.1
wrapt==1.12.1
WTForms==2.3.3
bcrypt==3.2.0
cffi==1.14.6
pycparser==2.20
six==1.16.0
