{% extends 'base.html' %}
{% block title %} Create New Post {% endblock %}
{% block content %}
    <h1>Edit Post</h1>
    <h3>Current Title: 
        {{post.title}}</h3>
    <p>Current Content:
        {{post.content}}
    </p>
    <form action="/posts/{{post.id}}/edit" method="POST">
        <div>
            <input type="text" name="title" placeholder="title">
        </div>
        <div>
            <input type="text" name="content" placeholder="content">
        </div>
        
        <div>
            <button>Edit</button>
        </div>
    </form>
    <a href="/posts/{{post.id}}"><button>Cancel</button></a>
{% endblock %}